# Python 2 compiled bytecode
*.py[cod]
__pycache__/

# Backup files
*~
*.sw[po]

# Database and key files created by textgame
*.db
host_rsa
host_rsa.pub

# IDE configuration
**/.vscode
**/env/
venv/
.idea/
